<form [formGroup]="form" class="content">
    <div class="article-content">
        <h1>Financial Crimes Tip Form</h1>
        <p>
            Fill out the form below. All fields in the form are optional, but please try 
            to provide as much information as possible. You do not need to provide any of 
            your personal information, but may include it if you want so we can reach out 
            to you to follow up.
        </p>
    </div>
    <!-- 
        FORM TABS
    -->

    <!-- Crime Type Form -->
    <app-tab [shown]="true" [tabHeader]="'Crime Type'" (nextTabEvent)="nextForm(1)">
        <!-- Grid of cards that link to each of the forms -->
        <div class="grid form">
            <!-- MONEY LAUNDERING FORM -->
            <app-card (click)="formTypeSelect('moneyLaundering')" [active]="formType === 'moneyLaundering'">
                <h2>Money Laundering</h2>
                The process of concealing the origins of illegally obtained money, typically by transferring it through complex banking transfers or commercial transactions to make it appear legitimate.
            </app-card>

            <!-- MORTGAGE FRAUD FORM -->
            <app-card (click)="formTypeSelect('mortgageFraud')" [active]="formType === 'mortgageFraud'">
                <h2>Mortgage Fraud</h2>
                Intentionally providing false information or omitting key details on mortgage documents to deceive lenders and secure loans under false pretenses.
            </app-card>

            <!-- INVESTMENT FRAUD FORM -->
            <app-card (click)="formTypeSelect('investmentFraud')" [active]="formType === 'investmentFraud'">
                <h2>Investment Fraud</h2>
                Deceptive practices to mislead investors, such as offering false or misleading information to encourage investment in non-existent or risky ventures.
            </app-card>

            <!-- EMBEZZLEMENT FORM -->
            <app-card (click)="formTypeSelect('embezzlement')" [active]="formType === 'embezzlement'">
                <h2>Embezzlement</h2>
                The theft or misappropriation of funds or property entrusted to someone's care, often by an employee or official for personal gain.
            </app-card>

            <!-- INSTITUTION FRAUD FORM -->
            <app-card (click)="formTypeSelect('institutionFraud')" [active]="formType === 'institutionFraud'">
                <h2>Institution Fraud</h2>
                Criminal schemes targeting banks or other financial institutions to illegally acquire money, assets, or other property.
            </app-card>

            <!-- OTHER FORM -->
            <app-card (click)="formTypeSelect('other')" [active]="formType === 'other'">
                <h2>Other</h2>
                Report another type of crime not listed here.
            </app-card>
        </div>
    </app-tab>

    <!-- Suspect Information -->
    <app-tab [tabHeader]="'Suspect Information'" (nextTabEvent)="nextForm(2)">
        <app-suspect-form class="form form-container"></app-suspect-form>
    </app-tab>

    <!-- Crime Questions -->
    <app-tab [tabHeader]="'Crime Questions'" (nextTabEvent)="nextForm(3)">
        <div class="form">
            <app-money-laundering-form *ngIf="formType === 'moneyLaundering'" [form]="fs.moneyLaundering"></app-money-laundering-form>
            <app-mortgage-fraud-form *ngIf="formType === 'mortgageFraud'" [form]="fs.mortgageFraud"></app-mortgage-fraud-form>
            <app-investment-fraud-form *ngIf="formType === 'investmentFraud'" [form]="fs.investmentFraud"></app-investment-fraud-form>
            <app-embezzlement-form *ngIf="formType === 'embezzlement'" [form]="fs.embezzlement"></app-embezzlement-form>
            <app-institution-fraud-form *ngIf="formType === 'institutionFraud'" [form]="fs.institutionFraud"></app-institution-fraud-form>
            <app-other-form *ngIf="formType === 'other'" [form]="fs.other"></app-other-form>
        </div>
    </app-tab>

    <!-- Contact Info -->
    <app-tab [tabHeader]="'Contact Info'" (nextTabEvent)="nextForm(4)">
        <div class="form form-container">
            <p>Optionally, you may provide your own contact info so we can get in touch to follow up on this report.</p>
            <app-contact-form [form]="fs.contactInfo"></app-contact-form>
        </div>
    </app-tab>

    <p class="article-content">
        Click the button below to submit this form. Once you submit, you cannot 
        change the form. Please review carefully to make sure all the information 
        is accurate.
    </p>
    <button type="submit" (click)="onSubmit()"><p>SUBMIT REPORT</p></button>
</form>