.content {
    margin-left: 0px;
    padding: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.clickable {
    cursor: pointer;
}

main {
    border: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 30px;
}

label {
    font-size: 1.2em;
}

h1 {
    margin-bottom: 20px;
}

input, select {
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    border-bottom: 3px solid #000;
    color: #777;
    border-color: #c0c4c9;
    border-width: 0px;
    border-style: solid;
    border-bottom-width: 2px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
}

input {
    border-radius: 1em;
}

input:hover, select:hover {
    border-radius: 1em;
    border-width: .5px;
    background-color: #aaa;
    color: white;
}

.form-container {
    width: 100%;
    display: block;
    text-align: center;
}

.form-element {
    display: inline-table;
    margin-right: 10px;
}

.buttons {
    text-align: center;
    display: inline-block;
}

.button-container {
    background-color: rgba(255, 255, 255, 1.0);
    background: linear-gradient(
        180deg,
        rgb(56, 56, 56) 0%,
        rgb(41, 41, 41) 25%,
        rgb(41, 41, 41) 50%,
        rgb(41, 41, 41) 75%,
        rgb(56, 56, 56) 100%
    );
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 3px 8px #365174;
    display: inline-block;
    gap: 10px; 
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    margin: 1em;
    font-size: 1em;
    background-color: #ffffff;
    padding: 0.5em;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
}

.saveButton:hover {
    border-color: #00000057;
    border-width: 1px;
    background-color: #365174;
    color: white;
}

.cancelButton:hover {
    border-color: #00000057;
    border-width: 1px;
    background-color: #777777;
    color: white;
}

.deleteButton:hover {
    border-color: #00000057;
    border-width: 1px;
    background-color: #aa0e03;
    color: white;
}