// Styling for content of the page
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 775px;
    max-width: 80%;
    margin: auto;
    margin-top: 40px;
    gap: 40px;
    position: relative;
}

// Styling for the grid of cards
.grid {
    display: grid; 
    gap: 40px;
    margin-bottom: 100px;
    transition: transform 0.1s ease;
}

@media (min-width: 1700px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1699px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1099px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

// Card styling
app-card {
    cursor: pointer;
    transition: transform 0.1s ease;
}

// Card on hover styling
app-card:hover {
    transform: scale(1.05);
}