<div class="article-content content">
    <h1>Financial Crimes Reporting</h1>
    <p>
        Welcome to our anonymous financial crime reporting platform. This website 
        is designed to provide a secure and confidential space for individuals to 
        report instances of financial misconduct, fraud, or corruption without 
        revealing their identity. Our mission is to ensure that every report is 
        taken seriously, helping to uncover and address unethical financial 
        activities while protecting the anonymity and safety of those who 
        come forward. Your voice matters, and by submitting a report, you 
        contribute to fostering transparency and accountability.
    </p>

    <p>Please select a category below to begin your report:</p>

    <!-- Grid of cards that link to each of the forms -->
    <div class="grid">
        <!-- MONEY LAUNDERING FORM -->
        <app-card [routerLink]="['/form', 'moneyLaundering']">
            <h2>Money Laundering</h2>
            The process of concealing the origins of illegally obtained money, typically by transferring it through complex banking transfers or commercial transactions to make it appear legitimate.
        </app-card>

        <!-- MORTGAGE FRAUD FORM -->
        <app-card [routerLink]="['/form', 'mortgageFraud']">
            <h2>Mortgage Fraud</h2>
            Intentionally providing false information or omitting key details on mortgage documents to deceive lenders and secure loans under false pretenses.
        </app-card>

        <!-- INVESTMENT FRAUD FORM -->
        <app-card [routerLink]="['/form', 'investmentFraud']">
            <h2>Investment Fraud</h2>
            Deceptive practices to mislead investors, such as offering false or misleading information to encourage investment in non-existent or risky ventures.
        </app-card>

        <!-- EMBEZZLEMENT FORM -->
        <app-card [routerLink]="['/form', 'embezzlement']">
            <h2>Embezzlement</h2>
            The theft or misappropriation of funds or property entrusted to someone's care, often by an employee or official for personal gain.
        </app-card>

        <!-- INSTITUTION FRAUD FORM -->
        <app-card [routerLink]="['/form', 'institutionFraud']">
            <h2>Institution Fraud</h2>
            Criminal schemes targeting banks or other financial institutions to illegally acquire money, assets, or other property.
        </app-card>

        <!-- OTHER FORM -->
        <app-card [routerLink]="['/form', 'other']">
            <h2>Other</h2>
            Report another type of crime not listed here.
        </app-card>
    </div>
</div>