<!-- Different nav components may be displayed based on authentication -->
<nav>
    <!-- Div on left side -->
    <div>
        <button routerLink=""><p>Make a Report</p></button>
        @if(userRole === 'admin' || userRole === 'client') {<button *ngIf="isAuthenticated" routerLink="/reports"><p>View Reports</p></button>}
        <!-- <button *ngIf="isAuthenticated" routerLink="/reports"><p>View Reports</p></button> -->
    </div>
    <!-- Div on right side -->
    <div>
      <ng-container *ngIf="isAuthenticated; else loggedOut">
        <button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })"><p>Logout</p></button>
      </ng-container>
    
      <ng-template #loggedOut>
        <button (click)="auth.loginWithRedirect()"><p>Admin Login</p></button>
      </ng-template>
    </div>

      <!-- <button (click)="getToken()">Token</button> -->
</nav>