<!-- Different nav components may be displayed based on authentication -->
<nav>
    <!-- Div on left side -->
    <div>
        <button *ngIf="!isAuthenticated" routerLink=""><p>Make a Report</p></button>
        <button *ngIf="isAuthenticated"><p>View Reports</p></button>
    </div>
    <!-- Div on right side -->
    <div>
        <button *ngIf="!isAuthenticated" (click)="login()"><p>Admin Login</p></button>
        <button *ngIf="isAuthenticated" (click)="logout()"><p>Logout</p></button>
    </div>
</nav>