<main>
    @if (currentRole === 'admin' || currentRole === 'client') {
    <div class="header">
        <h1>Investment Reports</h1>
    </div>
    
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Loss</th>
                    <th>Force</th>
                    <th>Promise</th>
                    <th>Contract</th>
                    <th>Method</th>
                    <th>Source</th>
                    <th>Status</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                @for (report of reports; track $index) {
                    <tr class="clickable" (click)="rowClick(report)">
                        <td>{{report.amount}}</td>
                        <td>{{report.loss}}</td>
                        <td>{{report.force}}</td>
                        <td>{{report.promise}}</td>
                        <td>{{report.contract}}</td>
                        <td>{{report.method}}</td>
                        <td>{{report.source}}</td>
                        <td>{{report.status}}</td>
                        <td>{{report.created}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} @else {
    <h1>You currently have {{currentRole}} level access, and do not have the proper permission to access this route.</h1>
}
</main>