@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* 
GLOBAL STYLES 

These determine the styles we will use globally for html components.
For example, we want a <p> html element to always look the same across our website.
*/

// CONTAINER STYLES
body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 1.0);
    background: linear-gradient(
        90deg,
        rgb(47, 47, 47) 0%,
        rgb(35, 35, 35) 25%,
        rgb(35, 35, 35) 50%,
        rgb(35, 35, 35) 75%,
        rgb(47, 47, 47) 100%
    );
}

// Styling for a thin "article-like" container
.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 775px;
    max-width: 80%;
    margin: auto;
    margin-top: 40px;
    gap: 40px;
    position: relative;
}

// TEXT STYLES
h1, h2, p, label {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    //color: rgb(205, 205, 205);
    color: limegreen;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

h2 {
    font-weight: bold;
    font-size: 42px;
}

h3 {
    font-weight: bold;
}

p {
    font-size: 24px;
    line-height: 150%;
}

label {
    font-size: 16px;
}

// BUTTON STYLES
button {
    padding: 15px 32px;
    background-color: #324c6e;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #365174;
}

button:active {
    transform: scale(0.95);
    background-color: #2a405d;
}