<main>
    <div class="header">
        <h1>Mortgage Reports</h1>
    </div>
    
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Loan</th>
                    <th>Owner</th>
                    <th>Mortgage</th>
                    <th>Title</th>
                    <th>Agent</th>
                    <th>Type</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                @for (report of reports; track $index) {
                    <tr class="clickable" (click)="rowClick(report)">
                        <td>{{report.amount}}</td>
                        <td>{{report.loan}}</td>
                        <td>{{report.owner}}</td>
                        <td>{{report.mortgage}}</td>
                        <td>{{report.title}}</td>
                        <td>{{report.agent}}</td>
                        <td>{{report.type}}</td>
                        <td>{{report.source}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>