<div [formGroup]="form" class="form-container">
    <div class="question">
        <p>First Name</p>
        <input type="text" placeholder="Enter First Name..." formControlName="firstName"/>
    </div>
    <div class="question">
        <p>Middle Name</p>
        <input type="text" placeholder="Enter Middle Name..." formControlName="middleName"/>
    </div>
    <div class="question">
        <p>Last Name</p>
        <input type="text" placeholder="Enter Last Name..." formControlName="lastName"/>
    </div>
    <div class="question">
        <p>Date of Birth</p>
        <input type="text" placeholder="MM/DD/YY" formControlName="birth"/>
    </div>
    <div class="question">
        <p>Contact Info</p>
        <app-contact-form [form]="form"></app-contact-form>
    </div>
    <div class="question">
        <p>Addresses</p>
        <app-address-form [form]="form"></app-address-form>
    </div>
</div>