.subject {
    background-color: rgb(47, 47, 47);
    border-radius: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.flex {
    display: flex;
    gap: 20px;
}

button {
    display: flex;
    gap: 15px;
    float: right;
}