<div [formGroup]="form" class="subject">
    <div class="center flex">
        <p>{{formType}}</p>
        <app-toggle (toggleEvent)="onFormSwitch($event)"></app-toggle>
    </div>
    <app-individual-form [form]="fs.getAsFG(form.get('individual'))" *ngIf="toggleState"></app-individual-form>
    <app-business-form [form]="fs.getAsFG(form.get('business'))" *ngIf="!toggleState"></app-business-form>
    <div>
        <button (click)="delete()"><p>Delete</p><img src="delete.png"></button>
    </div>
</div>