div {
    display: flex;
    flex-direction: column;
    width: 425px;
    height: 375px;
    align-items: flex-start;
    gap: 8px;
    padding: 29px 48px;
    position: relative;
    background-color: rgba(255, 255, 255, 1.0);
    border-radius: 54px;
    background: linear-gradient(
        180deg,
        rgb(44.48, 46.19, 53.82) 0%,
        rgb(64.23, 67, 79.32) 100%
    );
}

div p {
    color: rgb(205, 205, 205);
    max-height: 100%;
    margin: 0 0 0 40px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}