// Styling for the grid of cards
.grid {
    display: grid; 
    gap: 40px;
    margin-bottom: 100px;
    transition: transform 0.1s ease;
}

// Grid is 3x2 for large screens
@media (min-width: 1700px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Grid is 2x3 for medium screens
@media (max-width: 1699px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Grid is 1x6 for small screens
@media (max-width: 1099px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

// Card styling
app-card {
    cursor: pointer;
    transition: transform 0.1s ease;
}

// Card on hover styling
app-card:hover {
    transform: scale(1.05);
}